.sendForm {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.textarea {
    width: 976px;
    padding: 12px 0px 11px 24px;
    background: #F5F7FB;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    resize: none;
    overflow: hidden;
}

.button {
    width: 120px;
    height: 40px;
    background: #0066CC;
    border-radius: 20px;
    color: white;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    border: 1px solid black;
}
